.toggle_btn {
  position: fixed;
  content: "";
  left: 2%;
  bottom: 5%;
  z-index: 99999;
}
.toggle_btn .icon_one {
  background-color: red;
  padding: 10px;
}
.bg {
  height: 50px;
  width: 50px;
  background: rgb(30, 26, 89);
  background: linear-gradient(
    0deg,
    rgba(30, 26, 89, 1) 0%,
    rgba(45, 45, 159, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.icons {
  background-color: #fff !important;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all linear 0.3s;
}
.first_icon {
  margin-left: 50%;
  transform: translate(-50%);
  padding: 13px;
  border-radius: 50%;
  background-color: var( --main-color);
  color: #fff;
  transition: all linear 0.3s;
}
.icons:hover .first_icon {
  background: rgb(30, 26, 89);
  background: linear-gradient(
    0deg,
    rgba(30, 26, 89, 1) 0%,
    rgba(45, 45, 159, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  color: white;
}

.social_icons:hover {
  background: rgb(30, 26, 89);
  background: linear-gradient(
    0deg,
    rgba(30, 26, 89, 1) 0%,
    rgba(45, 45, 159, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main_icon {
  margin-left: -3px;
  margin-top: -2px;
}
