/* Contact part start here */
#contact {
	background-color: #fafafa;
}
#contact .contactForm {
	background-color: #fff;
	padding: 50px;
	padding-bottom: 80px;	
}
#contact .form-control:focus {
	box-shadow: none !important;    
	border-bottom: 1px solid #666 !important;
}


/* Chrome, Safari, Edge, Opera */
#contact input::-webkit-outer-spin-button,
#contact input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
#contact input[type='number'] {
	-moz-appearance: textfield;
}

#contact .featureItem {
	position: relative;
	padding-left: 50px;
	padding-bottom: 30px;
	margin-bottom: 0;
}
#contact .featureList {
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	color: #333;
	background-color: #ddd;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#contact .featureItem::after {
	content: '';
	display: inline-block;
	width: 2px;
	border-left: 1px dashed #ddd;
	height: 100%;
	position: absolute;
	top: 2px;
	left: 14px;
	z-index: 1;
}

#contact .featureItem:last-child::after {
	display: none;
}
.contact-header {
	font-size: 36px!important;
	font-weight: 600!important;
	line-height: 50px;
}
.focus{
color: #006E94;
}
 
.download_btn{
	transition: all linear 0.3s;
}
.download_btn:hover{
	color: #006E94;
}



.contactFormTitle {
	font-size: 25px !important;
	font-weight: 600;
	line-height: 30px;
    }
/* Contact part end here */