#coreValuesTwo > .container .SecTitle {
   color: #fff;
}
#coreValuesTwo > .container .SecTitleBg {
   color: #ffffff17 !important;
}
#coreValuesTwo {
   color: #fff;
   background: linear-gradient(to right, #888 0, #bbb 100%);
}

.coreValuesSec {
   position: relative;
   padding-top: 50px;
   overflow: hidden;
}

@media screen and (min-width: 48em) {
   .coreValuesSec {
      padding-top: 75px;
   }
}

@media screen and (min-width: 87em) {
   .coreValuesSec {
      padding-top: 50px;
   }
}

.cvtBox1 {
   position: relative;
   z-index: +2;
   margin-top: 50px;
   padding-bottom: 25px;
}

@media screen and (min-width: 48em) {
   .cvtBox1 {
      margin-top: 90px;
      padding-bottom: 100px;
   }

   .cvtBox1::before {
      content: "";
      position: absolute;
      top: 50%;
      bottom: -1px;
      z-index: -1;
      width: 100%;
      background: #fff;
   }
}

@media screen and (min-width: 64em) {
   .cvtBox1 {
      margin-top: 120px;
   }
}

@media screen and (min-width: 87em) {
   .cvtBox1 {
      margin-top: 200px;
   }
}

.cvtBox2 {
   width: 100%;
   max-width: 1532px;
   margin: 0 auto;
   padding-left: 70px;
   padding-right: 70px;
}

@media screen and (max-width: 104.9375em) {
   .cvtBox2 {
      padding-left: 52.5px;
      padding-right: 52.5px;
   }
}

@media screen and (max-width: 79.9375em) {
   .cvtBox2 {
      padding-left: 35px;
      padding-right: 35px;
   }
}

@media screen and (max-width: 30em) {
   .cvtBox2 {
      padding-left: 17.5px;
      padding-right: 17.5px;
   }
}

.all_items {
   display: flex;
   flex-direction: column;
   align-items: center;
   counter-reset: chart-items;
}

@media screen and (min-width: 48em) {
   .all_items {
      flex-direction: row;
      align-items: stretch;
   }
}

.coreValue_item {
   position: relative;
   width: 35%;
   max-width: 122px;
   margin: 25px;
}

@media screen and (min-width: 48em) {
   .coreValue_item {
      width: 25%;
      max-width: 100%;
      margin: 0;
      padding: 0 3.36% 50px;
   }
}

@media screen and (min-width: 87em) {
   .coreValue_item {
      padding-bottom: 115px;
   }
}

@media screen and (min-width: 48em) {
   .coreValue_item:first-child {
      margin-left: 3.36%;
   }

   .coreValue_item:first-child .coreValue_item_title::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -100vw;
      bottom: -100px;
      left: -50vw;
      z-index: -1;
      background: #fff;
   }
}

.coreValue_item:last-child {
   margin-bottom: 100px;
}

@media screen and (min-width: 48em) {
   .coreValue_item:last-child {
      margin-right: 3.36%;
      margin-bottom: 0;
   }
}

.coreValue_item:nth-child(even)
   .coreValue_item_title
   .coreValue_item_shape::before {
   right: 50%;
   left: -49px;
   border-radius: 100% 0 0 100% / 50% 50% 50% 50%;
}

@media screen and (min-width: 48em) {
   .coreValue_item:nth-child(even)
      .coreValue_item_title
      .coreValue_item_shape::before {
      top: 50%;
      right: -40.32%;
      bottom: -40.32%;
      left: -40.32%;
      border-radius: 0 100% 50% 50% / 0 0 100% 100%;
      background: #edf0f3;
   }
}

.coreValue_item:nth-child(even)
   .coreValue_item_title
   .coreValue_item_shape::after {
   right: calc(100% + 7px);
   left: auto;
}

@media screen and (min-width: 48em) {
   .coreValue_item:nth-child(even)
      .coreValue_item_title
      .coreValue_item_shape::after {
      top: calc(100% + 10px);
      right: auto;
      bottom: auto;
      left: 50%;
      opacity: 0.15;
      color: #252425;
      transform: translateX(-50%);
   }
}

@media screen and (min-width: 64em) {
   .coreValue_item:nth-child(even)
      .coreValue_item_title
      .coreValue_item_shape::after {
      top: calc(100% + 15px);
   }
}

@media screen and (min-width: 48em) {
   .coreValue_item:nth-child(odd) .coreValue_item_sub_title {
      color: #252425;
   }
}

.coreValue_item:nth-child(even) .coreValue_item_sub_title {
   left: 100%;
   padding-right: 0;
   padding-left: 22px;
}

@media screen and (min-width: 48em) {
   .coreValue_item:nth-child(even) .coreValue_item_sub_title {
      bottom: 100%;
      left: 16.8%;
      margin-top: 0;
      margin-bottom: 15px;
      padding-top: 0;
      padding-bottom: 15px;
      padding-left: 0;
   }
}

@media screen and (min-width: 87em) {
   .coreValue_item:nth-child(even) .coreValue_item_sub_title {
      margin-bottom: 25px;
   }
}

.coreValue_item:nth-child(even) .coreValue_item_sub_title::before {
   right: calc(100% - 12px);
   left: auto;
}

@media screen and (min-width: 48em) {
   .coreValue_item:nth-child(even) .coreValue_item_sub_title::before {
      top: 100%;
      right: auto;
      left: calc(50% - 4px / 2);
   }
}

.coreValue_item:nth-child(even) .coreValue_item_sub_title p {
   min-height: 45px;
   color: #dadada;
}

@media screen and (min-width: 87em) {
   .coreValue_item:nth-child(even) .coreValue_item_sub_title p {
      min-height: 84px;
   }
}

.coreValue_item_title {
   position: relative;
   width: 100%;
   margin: 0 auto;
   border-radius: 50%;
   font-size: 14px;
   font-weight: 700;
   line-height: 1.3em;
   transition: 0.4s color cubic-bezier(0.55, 0.17, 0.05, 0.85);
   color: #fff;
   background: linear-gradient(to right, #6d6c6d 0, #252425 100%);
}

@media screen and (min-width: 87em) {
   .coreValue_item_title {
      font-size: 26px;
      line-height: 1.5em;
   }
}

.coreValue_item_title::after {
   content: "";
   display: block;
   padding-top: 100%;
}

.coreValue_item_title .coreValue_item_shape {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   text-align: center;
}

.coreValue_item_title .coreValue_item_shape::before {
   content: "";
   position: absolute;
   top: -49px;
   right: -49px;
   bottom: -49px;
   left: 50%;
   z-index: -1;
   border-radius: 0 100% 100% 0 / 50% 50% 50% 50%;
   background: rgba(255, 255, 255, 0.07);
}

@media screen and (min-width: 48em) {
   .coreValue_item_title .coreValue_item_shape::before {
      top: -40.32%;
      right: -40.32%;
      bottom: 50%;
      left: -40.32%;
      border-radius: 50% 50% 0 0/100% 100% 0 0;
   }
}

.coreValue_item_title .coreValue_item_shape::after {
   content: counter(chart-items, decimal-leading-zero);
   position: absolute;
   top: 50%;
   left: calc(100% + 6px);
   z-index: +2;
   opacity: 0.5;
   font-size: 30px;
   font-weight: 700;
   color: #fff;
   counter-increment: chart-items;
   transform: translateY(-50%);
}

@media screen and (min-width: 48em) {
   .coreValue_item_title .coreValue_item_shape::after {
      top: auto;
      bottom: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
   }
}

@media screen and (min-width: 64em) {
   .coreValue_item_title .coreValue_item_shape::after {
      bottom: calc(100% + 15px);
   }
}

@media screen and (min-width: 87em) {
   .coreValue_item_title .coreValue_item_shape::after {
      font-size: 50px;
   }
}

.coreValue_item_sub_title {
   position: absolute;
   top: 17%;
   right: 100%;
   min-width: 95px;
   padding-right: 22px;
   font-size: 10px;
   line-height: 1.5em;
   text-align: center;
}

@media screen and (min-width: 30.0625em) {
   .coreValue_item_sub_title {
      min-width: 125px;
   }
}

@media screen and (min-width: 48em) {
   .coreValue_item_sub_title {
      top: auto;
      right: 16.8%;
      left: 16.8%;
      min-width: 0;
      margin-top: 15px;
      padding-top: 15px;
      padding-right: 0;
   }
}

@media screen and (min-width: 87em) {
   .coreValue_item_sub_title {
      margin-top: 25px;
      font-size: 16px;
   }
}

.coreValue_item_sub_title strong {
   display: block;
   margin-bottom: 5px;
   font-size: 12px;
}

@media screen and (min-width: 87em) {
   .coreValue_item_sub_title strong {
      font-size: 16px;
   }
}

.coreValue_item_sub_title::before {
   content: "";
   position: absolute;
   top: 35px;
   left: calc(100% - 12px);
   width: 24px;
   height: 3px;
   /* background: #ffa000; */
   background: var(--main-highlight);
}

@media screen and (min-width: 48em) {
   .coreValue_item_sub_title::before {
      top: auto;
      bottom: 100%;
      left: calc(50% - 4px / 2);
      width: 4px;
      height: 30px;
   }
}

@media screen and (min-width: 87em) {
   .coreValue_item_sub_title::before {
      height: 50px;
   }
}

.boxShadow {
   box-shadow: 20px 40px 50px rgba(0, 0, 0, 0.4);
}
