.product_overlay {
  position: relative;
  transition: all linear 0.3s;
  overflow: hidden;
}

.card-img {
  height: 220px !important;
  width: 100% !important;
  object-fit: cover;
}
.card_title {
  height: 220px !important;
  width: 100% !important;
  color: white;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%);
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: 999999;
  transition: all linear 0.3s;
  opacity: 1;
}
.card_title::after {
  position: absolute;
  content: "";
  top: -33px;
  left: 0;
  border-radius: 5px;
  background-color: #c6c6c6;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.overlay_logo {
  position: absolute;
  display: block;
  height: 100px;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 99999;
}
/* .overlay_logo {
  height: 50px;
  margin-top: 53px;
  border-radius: 5px;
  margin-left: 50% !important;
  transform: translate(-50%) !important;
  z-index: 99999;
} */

.link_icons {
  position: absolute;
  right: 3%;
  bottom: 20%;
}
.product_overlay:hover .card_title {
  opacity: 0;
}
button.text-capitalize.me-2.btn.btn-success.rounded-1 {
  background-color: var(--main-color);
  padding: 8px 25px;
}
.card_img_design {
  position: absolute;
  top: 55%;
  left: 0;
  height: 150px;
  transform: rotate(45deg);
  margin-left: -26px;
  opacity: 0.4;
}
