@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* @font-face {
   font-family: "oswald";
   src: url(../public/fonts/Oswald-Bold.ttf);
} */

:root {
   --r: 2;
   --g: 84;
   --b: 130;
   --a: 1;
   --main-color: rgba(var(--r), var(--g), var(--b), var(--a));
   --main-text-color: #333333;
   --main-highlight: #dd0213;
   --color-blue: #2caef7;
   --color-purple: #b93afb;
   --body-color: #f0f2f5;
   /* --main-hover-color: #1fbc2c; */
}

/* background-color: rgba(var(--r), var(--g), var(--b), 0.3); */
/* Base color code: #025482 */



.bg-base {
   background-color: var(--main-color) !important;
}
.text-base {
   color: var(--main-color) !important;
}

body {
   font-size: 16px;
   font-family: "Poppins", sans-serif !important;
   font-weight: 400;
   background-color: var(--body-color) !important;
   position: relative;
   overflow-x: hidden;
}
html {
   scroll-behavior: smooth !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
   font-family: "Poppins", sans-serif !important;
}

h1 {
   font-size: 2.125rem !important;
}
h2 {
   font-size: 1.875rem !important;
}
h3 {
   font-size: 1.5rem !important;
}
h4 {
   font-size: 1.25rem !important;
}
h5 {
   font-size: 1.125rem !important;
}
h6 {
   font-size: 1rem !important;
}

.section_padding_top {
   padding-top: 60px;
}
.section_padding_bottom {
   padding-bottom: 60px;
}

.section_padding {
   padding-top: 60px;
   padding-bottom: 60px;
}

/* Custome Button css Start  */
.learn-more {
   position: relative;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   background: transparent;
   padding: 0;
   font-size: inherit;
   font-family: inherit;
   width: 12rem;
   height: auto;
}
.learn-more .circle {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: relative;
   display: block;
   margin: 0;
   width: 3rem;
   height: 3rem;
   background: var(--main-color);
   border-radius: 1.625rem;
}
.learn-more .circle .icon {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   background: #fff;
}
.learn-more .circle .icon.arrow {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   left: 0.625rem;
   width: 1.125rem;
   height: 0.125rem;
   background: none;
}
.learn-more .circle .icon.arrow::before {
   position: absolute;
   content: "";
   top: -0.25rem;
   right: 0.0625rem;
   width: 0.625rem;
   height: 0.625rem;
   border-top: 0.125rem solid #fff;
   border-right: 0.125rem solid #fff;
   transform: rotate(45deg);
}
.learn-more .button-text {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 0.75rem 0;
   margin: 0 0 0 1.85rem;
   color: var(--main-color);
   font-weight: 600;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   text-transform: uppercase;
}
.learn-more:hover .circle {
   width: 100%;
}
.learn-more:hover .circle .icon.arrow {
   background: #fff;
   transform: translate(1rem, 0);
}
.learn-more:hover .button-text {
   color: #fff;
}
/* Custome Button css End  */

/* Custome Button 2 css Start  */
.CustomeBtn {
   font-size: 16px;
   font-weight: 600;
   color: #fff !important;
   padding: 12px 17px 12px 25px;
   display: inline-block;
   border: 0;
   background-image: radial-gradient(
      100% 100% at 100% 0,
      #98e9ff 0,
      #0078be 100%
   ) !important;
   box-shadow: 0 2px 4px rgba(45, 35, 66, 0.1),
      0 7px 13px -3px rgba(45, 35, 66, 0.2),
      inset 0 -3px 0 rgba(58, 65, 111, 0.1);
   background-position: 0 0;
   transition: all 0.5s !important;
}
.CustomeBtn:hover {
   /* padding: 12px 23px 12px 28px; */
   /* background-image: radial-gradient(100% 100% at 100% 0,#a6ebfe 0,#0086d4 100%); */
   box-shadow: initial;
   box-shadow: 0 11px 25px 0 rgba(54, 118, 255, 0.45);
}
.CustomeBtnIcon {
   display: inline-block;
   font-size: 25px;
   margin-right: 0;
   padding-right: 0;
}
/* Custome Button 2 css End  */

/* gradient button css start here */
.requestBtn {
   color: #fff !important;
   display: inline-block;
   position: relative;
}
.requestBtn,
.requestBtn::after {
   min-width: 180px;
   height:55px;
   line-height:55px;
   font-size: 16px;
   text-align: center;
   border-radius: 5px;
   background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
   background-size: 600%;
   -webkit-animation: anime 18s linear infinite;
   animation: anime 18s linear infinite;
}
.requestBtn::after {
   content: "";
   display: inline-block;
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
   z-index: -1;
   filter: blur(30px);
   opacity: 0;
   transition: all 0.4s;
}
.requestBtn:hover::after{
   cursor: initial;
   opacity: 0.8;
}
@-webkit-keyframes anime {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
@keyframes anime {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
/* gradient button css end here */




/* CSS for Beta version */
#betaImg{
   position: absolute;
   top: 0px;
   right: 0px;
   z-index: 10000;
}


















