@font-face {
   font-family: "oswald";
   src: url(../public/fonts/Oswald-Bold.ttf);
}
.font-oswald {
   font-family: "oswald";
}

.wItem {
   padding-left: 110px;
   position: relative;
}

.wItem .welcpmeImg {
   margin-top: 50px;
   width: 390px;
   height: 420px;
   object-fit: contain;
   border-radius: 10px;
}

.yearBg {
   position: absolute;
   top: 0;
   left: 0;
   width: 250px;
   height: 255px;
   border-radius: 10px;
   overflow: hidden;
   background-image: url(/yearBg.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 85px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #fff;
}

.yearBg h1 {
   font-size: 120px !important;
   font-weight: 700;
   line-height: 95%;
}
.yearBg p {
   font-size: 18px;
   font-weight: 400;
   line-height: 20px;
   margin-bottom: 0;
}
.yearBg img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}






.numberBox{
   height: 100%;
   background-color: #ffffff8b;
   /* border: 1px solid #fff; */
}
.countNum{
   color: var(--main-color);
}
.plus{
   font-size: 25px;
   position: absolute;
   top: 5px;
   right: -15px;
   color: var(--main-color);
}

.serialNum{
   position: absolute;
   top: 15px;
   right: 15px;
   color: #ddd;
}

















