._3uApM {
  display: none!important;
}
._2Jtxm ._1hzhf {
  width: 200px!important;
}
._2Jtxm._35Ago ._2kL0S {
  color: #fff;
  background-color: #387cf6!important;
}
._2Jtxm ._2kL0S, ._2Jtxm ._2JvrO {
  background-color: #dedededb!important;
}